# Rust build artifacts
Q-Adaptive-ZK/target/

# Python cache and temporary files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
.env

# OS files
.DS_Store
Thumbs.db
